.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.dark {
    background-color: #333;
    color: #fff;
}

.dark .btn {
    background-color: #222;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

.light .btn {
    background-color: #eee;
    color: #333;
}